*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
html, body{
    height:100%;
    background-color: #EFECF3;
}
h1
{
    text-align: center;
}
@font-face {
    font-family: 'kg_primary_dots_linedregular';

  src: url('../css/fonts/kgprimarydots-webfont.eot'); /* IE9 Compat Modes */
  src: url('../css/fonts/kgprimarydots-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../css/fonts/kgprimarydots-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../css/fonts/kgprimarydots-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../css/fonts/kgprimarydots-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */

}
/*Main Class Declarations*/
.container{
        box-shadow: 4px 4px 32px 0px rgba(0,0,0,0.75);
        background-color: white;
        padding: 0;
}
.row
{
    margin: 20px 0;
}
#highlight
{
    text-decoration: underline;
    font-weight: bold;
}
#footer
{
    background-color: #3D3B3C;  
    text-align: center;
    padding: 0;
    position: relative;
    display: table;
}
#adDiv
{
   display: table-cell;
}
#footer h1
{
    width: 100%;
    margin: 0;
    color: white;
}
#footer img
{
    width: 60%;
    margin: 20%;
}

#footer a
{
    color: #DB504A;
    font-weight: bold;
    font-size: 20px;
    width: 100%;    
    margin-bottom: 20px
}
#footlinks
{
    float: left;
    width: 40%;
}
#copyright
{
    background-color: #4F6D7A;
    text-align: right;
    padding: 10px 20px 5px 10px;
}
#copyright h1
{
    margin: 0;
    text-align: center;
}

.subPageContainer{
    width: 80vw;
    margin: auto;
}
        
#navbar {
    list-style-type: none;  
    margin: 0 0 -10px 0;
    padding: 0 0 0 10px;
    background-color: #084C61;
    font-size: 20px;
    border-bottom: solid 1px white;
    z-index: 10;
    overflow: visible;
    display: inline-block;
    width: 100%;
}
#dropLink
{
    float: left;
    font-size: 20px;
    color: white;
}
#dropLink:hover
{
    background-color: white;
    color: #573280;
}


#getStarted{
	min-height: 35vh;
	background-color: #084C61;
    padding: 8vh 0 4vh 0;
    z-index: 0;
    box-shadow: 4px 4px 32px 0px rgba(0,0,0,0.75);  
}
#getStartedTools{
    min-height: 30vh;
    background-color: #56A3A6;
    padding: 5vh 0 5vh 0;
    box-shadow: 4px 4px 32px 0px rgba(0,0,0,0.75);
}
#formContainer
{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #8EADB7;
}
#formContainer h1
{
    background-color: #084C61;
    color: white;
    height: 75px;
    line-height: 75px;
    text-align: center;
}
#formContainer h2
{
    line-height: 40px;
    text-align: left;
}
#formContainer p
{
    line-height: 40px;
    font-size: 20px;
    margin: 0 10px;
}
#borderRow
{
    border-top: solid 2px black;
}
#bingoStudents
{
    margin: 20px 5%;
    font-size: 40px;
    width: 120px;
}
#wordSearchSizeSelect
{
    font-size: 40px;
    margin: 20px 5%;
}
.radioLabel
{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-left: 5%;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#printButton
{
    width: 60%;
    margin: 20px 20%;
    font-size: 50px;
    height: 100px;
    background-color: #DB504A;
    color: white;
}
.radioLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
.radioLabel:hover input ~ .checkmark {
    background-color: #ccc;
}
.radioLabel input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.radioLabel input:checked ~ .checkmark:after {
    display: block;
}
/* Style the indicator (dot/circle) */
.radioLabel .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
#mainHeader{
    text-align: center;
    color: white;
    font-size: 40px;
}
#subHeader{
    text-align: center;
    color: white;
    max-width: 50%;
    margin: 50px auto 0 auto;
}
#scrollButton, #scrollButtonTools{
    text-align: center;
    vertical-align: middle;
    padding: 1em 0 1em 0;
    text-decoration: none;
    font-weight: bold;
    background-color: #DB504A;
    font-size: 20px;
    margin: 40px auto 0 auto;
    color: white;
    display: block;
    width: 160px;
    border: solid white 2px;
            box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.75);
}
#scrollButton:hover{
    background-color: white;
    color: #084C61;
    cursor: pointer;
}
#scrollButtonTools:hover{
    background-color: white;
    color: #56A3A6;
    cursor: pointer;
}
#worksheetInfo{
    padding: 40px 20px;
}
#cyanOrb{
    width: 90%;
    float: left;
    display: block;
    margin: 20px 5%;
    padding-top: 0;
}
#containerButton
{
    width: 160px;
    height: 60px;
    margin: 0 auto 10px auto;
    line-height: 58px;
    display: inline-block;
    color: white;
    font-size: 18px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 35%;
}
#worksheetLink div:hover
{
    cursor: pointer;
    background-color: #F1BFBD;
    color: black;
    font-style: bold
}
#worksheetLink div
{
    border: solid 3px #DB504A;
    background-color: #DB504A;
}
#appButton div:hover
{
    cursor: pointer;
    background-color: #B8B7B8;
    color: black;
    font-style: bold
}
#appButton div
{
    border: solid 3px #3D3B3C;
    background-color: #3D3B3C;
}
#resourceLink div:hover
{
    cursor: pointer;
    background-color: #BFC9CE;
    color: black;
    font-style: bold
}
#resourceLink div
{
    border: solid 3px #4F6D7A;
    background-color: #4F6D7A;
}
#contactLink div:hover
{
    cursor: pointer;
    background-color: #C1DDDE;
    color: black;
    font-style: bold
}
#contactLink div
{
    border: solid 3px #56A3A6;
    background-color: #56A3A6;
}

#leftBlock{
    float: left;
    display: block;
    text-align: center;
    padding-top: 30px;
    background-color: #50AAAC;
}
#worksheetImgBlock
{
    text-align: center;
    background-color: #DB504A;
}#resourcesImgBlock
{
    text-align: center;
    background-color: #4F6D7A;
}
#resourcesBlock
{
    padding-top: 5px;
    background-color: #BFC9CE;
    text-align: center;
    position: relative;
    padding-bottom: 70px;

}
#resourcesBlock p
{
    text-align: left;
}
#customWorksheets
{
    padding-top: 5px;
    padding-bottom: 70px;
    background-color: #F1BFBD;
    text-align: center;
}
#customWorksheets p
{
    text-align: left;
}
#appBlock
{
    padding-top: 5px;
    background-color: #B8B7B8;
    padding-bottom: 70px;
}
#appImgBlock
{
    text-align: center;
    background-color: #3D3B3C;
}#contactBlock
{
    padding-top: 5px;
    background-color: #C1DDDE;
    padding-bottom: 70px;
}
#contactImgBlock
{
    text-align: center;
    background-color: #56A3A6;
}
#rightBlock{
    float: right;
    display: block;
    text-align: center;
    padding-top: 30px;
}
/*Bingo Page */
#bingoInput{
    width: 55%;
    margin: 40px 5%;
    display: block;
    min-height: 200px;
    background-color: #E8EEF0;
    font-size: 20px;
}
#bingoTitle{
    margin: 20px 5%;
    width: 55%;
    font-size: 40px;
    background-color: #E8EEF0;
    padding: 0 10px;
    color: #212529;
}

#randomDiv{
    display: none;
}
#randomDiv h2{
    margin-bottom: 20px;    
}

/*Bingo Printout */
#bingoHead{
    width: 100%;
    text-align: center;
    padding-top: 30px;
}
#bingoBoard{
    margin: 50px auto 0 auto;
    table-layout: fixed;
    width: 80%;
}
#bingoBoard td{
    border: solid 1px black;
    display: table-cell;
    width: 120px;
    height: 150px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 20px;
}
#freeSpace{
    text-align: center;
    font-size: 20px;
}
#wordsHeader{
    margin: 20px 0 0 20px;
    text-decoration: underline;
}
#wordsList{
    font-size: 30px;
    margin: 20px;
    text-decoration: none;
    line-height: 60px;
    width: 90%;
    text-align: left;
}
.randomPrintable{
    height: 325mm;
    overflow: hidden;
}
#randomPrintable{
    height: 325mm;
    overflow: hidden;
}
#bigWordList{
    font-size: 20px;
    margin: 20px;
    text-decoration: none;
    line-height: 40px;
}
#randomDivBingo{
    display: block;
}
#words15, #wordsLarge{
    margin: 50px auto 0 auto;
    table-layout: fixed;
}
#words15 td{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 25px;
}
#wordsLarge td
{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
}
#sizeSetting{
    width: 80%;
    margin: auto;
    height: 100px;
}
#sizeText{
    float: left;
    padding-top: 18px;
}
#decreaseSize{
    width: 25px;
    height: 25px;
    float: left;
    margin: 18px;
    padding: 0;
}#increaseSize{
    width: 25px;
    height: 25px;
    float: left;
    margin: 18px;
}
#sizeTable{
    margin: 20px 5px;
    float: left;
}
#sizeButton1, #sizeButton2
{
    float: left;
    width: 25px;
    margin: 32px 20px;
}
#sizeTable td{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    background-color: #E7E2E6;
}

#entryTable1, #entryTable2, #entryTable3, #entryTable4, #entryTable5{
    margin: auto;
}

#entryTable1 input, #entryTable2 input{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    color: white;
}#entryTable3 input, #entryTable4 input, #entryTable5 input
{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    color: white;
}
#entryTable1 p, #entryTable2 p, #entryTable3 p, #entryTable4 p, #entryTable5 p
{
    line-height: 18px;
    width: 17px;
    height: 17px;
    font-size: 15px;
    padding-left: 3px;
    background-color: gray;
    border: solid 1px black;
    float: left;
    position: absolute;
    margin: -49px 0 0 1px; 
    font-weight: bold;
}
#table10
{
    margin: 30px auto;
    border-spacing: 10px;

}
table#table10
{
    margin: 20px auto;
    height: 650px;
}
#table10 td{
    width: 75px;
    height: 75px;
    vertical-align: top;
    padding: 5px;
}#table12
{
    margin: 20px auto;
    border-spacing: 0;
}
#table12 td{
    width: 75px;
    height: 75px;
    vertical-align: top;
    padding: 5px;
}#table14
{
    margin: 20px auto;
    border-spacing: 0;
}
#table14 td{
    width: 70px;   
    height: 70px;
    padding: 4px;
}#table16
{
    margin: 20px auto;
    border-spacing: 0;
}
#table16 td{
    width: 60px;
    height: 60px;
    vertical-align: top;
    padding: 4px;
}#table18
{
    margin: 30px auto;
    border-spacing: 0;
}
#table18 td{
    width: 54px;
    height: 54px;
    vertical-align: top;
    padding: 3px;
}

#filled{
    border: 1px solid black;
}
#buttonRow
{
    padding-left: 50px;
}
#buttonRow button
{
    width: 80%;
}
#hint p
{
    width: 5%;
    float: left;
}
#hint textarea
{
    width: 88%;
    float: left;
}
#vertical
{
    width: 49%;
    float: left;
}
#horizontal
{
    width: 49%;
    float: right;
    border-left: solid 1px black;
}
#wordsHeaderCross
{
    width: 95%;
    margin: auto;
    border-bottom: solid 1px black; 
}
#horizontalClueContainer
{
    width: 47%;
    float: left;
        font-size: 20px; 
    padding: 15px 0 0 20px;
}
#horizontalClueContainer h3
{
    text-align: center;
}
#verticalClueContainer
{
    width: 47%;
    height: 450px;
    border-right: solid 1px black;
    float: left;
    padding: 15px 0 0 20px;
    font-size: 20px;
    display: inline-block;
} 
#horizontalClueContainer
{

}
#clueCount
{
    width: 5%;
    float: left;

}
#clueText
{
    width: 95%;
    height: 30px;
    float: left;
}
#clueDiv{
    width: 100%;
}

#penmanshipEntry{
    width: 60%;
    margin: 30px 10%;
}
#penmanshipEntry input{
    width: 80%;
    font-size: 30px;
    margin-bottom: 20px;
    height: 30px; 
}
#anagramTable6{
    height: 35vh;
    width: 100%;
    margin: 40px 5% 20px 5%;    
}
#anagramTable8{
    height: 45vh;
    width: 100%;
    margin: 20px 5%;
    display: block;
}
#anagramTable10{
    height: 55vh;
    width: 100%;
    margin: 20px 5%;
    display: block;
}
#anagramTable12{
    height: 70vh;
    width: 100%;
    margin: 20px 5%;
    display: block;
}
#drawDiv6
{
    width: 90%;;
    margin: 60px auto;
    height: 600px;
    border: solid 1px black;
    padding-top: 10px;
}
#drawDiv8
{
    width: 90%;
    margin: 90px auto;
    height: 500px;
    border: solid 1px black;
    padding-top: 10px;
}
#drawDiv10
{
    width: 90%;
    margin: 125px auto;
    height: 400px;
    border: solid 1px black;
    padding-top: 10px;
}
#drawDiv12
{
    width: 90%;
    margin: 75px auto;
    height: 280px;
    border: solid 1px black;
    position: relative;
    bottom: -35px;
}
#drawP
{
    padding: 10px;
    font-size: 20px;
    position: relative;
    top: -20px;
}
#anagramBlock
{
    height: 100px;
    width: 40%;
    float: left;
    margin: 20px 20px;
}
#anagramText
{
    height: 40%;
}
#anagramTopDiv
{
    height: 28%;
    border-top: solid 2px black;
    border-bottom: dashed 2px black;
}
#anagramBotDiv
{
    height: 29%;
    border-bottom: solid 2px black;
}
#anagramWordsHeader{
    margin: 20px 0 0 20px;
    text-decoration: underline;
}
#anagramWordsList{
    font-size: 30px;
    margin: 20px;
    text-decoration: none;
    line-height: 60px;
    width: 90%;
}

#linesArea{
    margin: 18px auto;
}
#penmanshipLines
{
    height: 65px;
    width: 95%;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
    margin: 17px auto; 
}#penmanshipLines20
{
    height: 65px;
    width: 46%;
    float: left;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
    margin: 0 15px 15px 15px; 
}
#penmanshipDots
{
    height: 45%;
    width: 100%;
    border-bottom: dashed 1px black;
    float: left;
}
#entryWord
{
    width: 100%;
    height: 50px;
    display: inline-block;
    position: absolute;
    font-size: 100px;
    white-space: nowrap;
    font-family: "kg_primary_dots_linedregular";
}
#entryWord20
{
    float: left;
    width: 50%;
    height: 50px;
    position: absolute;
    left: 15px;
    font-size: 100px;
    font-family: "kg_primary_dots_linedregular";
}
#wordsDiv
{
    position: absolute;
    width: 100%;
    top: -23px;
    padding-left: 30px
}#wordsDiv20
{
    position: absolute;
    top: -21px;
    padding-left: 10px;
}
#toolInstructions{
    display: none;
    position: absolute;
    width: 40vw;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #2E2D4D;
    box-shadow: 7px 7px 24px 0px rgba(0,0,0,0.75);

}
#toolInstructions h1
{
    text-align: center;
    margin-top: 20px;
    color: white;
}
#toolInstructions h3
{
    margin: 30px 0 0 20px;
    color: white;
    text-decoration: underline;
}
#toolInstructions p
{
    margin: 15px 20px 0 20px;
    color: #DAD2D8;
}
#toolInstructions div
{
    line-height: 50px;
    width: 30%;
    height: 50px;
    margin: 30px 35%;
    left: 0;
    right: 0;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    border: solid 2px white;
    background-color: #2E2D4D;
        box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.75);
}
#toolInstructions div:hover
{
    color: #2E2D4D;
    background-color: white;
    cursor: pointer;
}  
#contactRow
{
    padding: 10px 40px;
}
#contactRow div
{
    margin: 20px 4.16%;
    padding: 0;
}
#contactRow h1
{
    text-align: center;
    margin: 0 0 20px 0;
    width: 100%;
    height: 68px;
    padding-top: 10px;
    color: white;
}
#formInput
{
    width: 75%;
    margin-bottom: 20px;
}
#contactRow button
{
    width: 50%;
    margin-bottom: 10px;
}
#contactForm p
{
    font-weight: bold;
    text-decoration: underline;
}
#formColumn
{
    background-color: #A9B5BA;
    box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.75);
}
#formColumn h1
{
    background-color: #143642;
}
#infoColumn
{
    box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.75);
    background-color: #C1B4D0;
}
#infoColumn h1
{
    background-color: #2E2D4D;
}
#otherContainer
{
    margin-top: 50px;
    background-color: #A9B5BA;
}
#otherContainer h1
{
    background-color: #143642;
    color: white;
    padding: 10px 0;
}
#otherContainer h3
{
    padding: 20px;
}
#columnContents
{
    padding: 20px;
    box-shadow: unset;
}
#serviceRow
{
    background-color: #B3B2BE;
}
#serviceRow h1
{
    width: 100%;
    background-color: #2E2D4D;
    color: white;
}
#discoveryRow
{
    background-color: #F1BFBD;
}
#discoveryRow h1
{
    width: 100%;
    background-color: #DB504A;
    color: white;
}
#serviceRow h2, #discoveryRow h2
{
    text-align: center;
}
#serviceRow h4, #discoveryRow h4
{
    margin: 20px 0;
}
#worksheetImg
{
    width: 50%;
}
/*Media Queries*/

@media screen and (max-width: 1200px)
{
    #leftBlock
    {
        padding-top: 30px;
    }
}
@media screen and (max-width: 992px)
{
    #leftBlock
    {
        padding-top: 30px; 
    }
    #footer img
    {
        margin: 0;
        width: 100%;
    }
}
@media screen and (max-width: 690px)
{
    #dropLink
    {
        width: 50%;
        text-align: left;
    }
}
@media screen and (max-width: 460px)
{
    #formContainer h1
    {
        height: 150px;
    }

}

